<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>タブ空文庫</title>
    <meta name="keywords" content="青空文庫,小説,文学,電子書籍,タブ,ブラウザ">
    <meta name="description" content="タブ空文庫はタブブラウザ用の青空文庫リーダーです。ブラウザのタブにテキストがスクロール表示されるので、他のサイトを見ながらでもチラチラと作品を読むことができます。">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.socialbutton-1.8.1.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21613416-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
  <body>
    <header>
      <h1>タブ空文庫</h1>
      <div id="social-button">
        <div class="hatena"></div>
        <div class="tweet"></div>
        <div class="google_plus"></div>
        <div class="facebook"></div>
      </div>
    </header>
    <input id="query" name="query" placeholder="読みたい作品のURLかそれらしいキーワードを入力して下さい。" />
    <section id="info"></section>
    <section id="usage">
      タブ空文庫はタブブラウザ用の青空文庫リーダーです。<br/>ブラウザのタブにテキストがスクロール表示されるので、他のサイトを見ながらでもチラチラと作品を読むことができます。
    </section>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-2530516645891329";
/* tabzora_head */
google_ad_slot = "4398099150";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

    <section id="control">
      <a href="javascript:void(0)" id="random">ランダムに読む</a>
      <ul id="speed">
        <li>停止</li>
        <li>ゆっくり読む</li>
        <li>普通に読む</li>
        <li>いそいで読む</li>
      </ul>
    </section>
    
    <ul class="booklist">
      <li id="http://www.aozora.gr.jp/cards/000148/files/752_14964.html">坊っちゃん/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/301_14912.html">人間失格/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/773_14560.html">こころ/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/789_14547.html">吾輩は猫である/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000096/files/2093_28841.html">ドグラ・マグラ/夢野久作</li>
      <li id="http://www.aozora.gr.jp/cards/000156/files/1465_16805.html">蟹工船/小林多喜二</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/456_15050.html">銀河鉄道の夜/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5016_9758.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/92_14545.html">蜘蛛の糸/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000296/files/47061_29420.html">学問のすすめ/福沢諭吉</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/45630_23908.html">〔雨ニモマケズ〕/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/127_15260.html">羅生門/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000908/files/4254_16911.html">船中八策/坂本竜馬</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/43737_19215.html">銀河鉄道の夜/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/1567_14913.html">走れメロス/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/1746_18325.html">それから/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000363/files/42286_37300.html">カラマゾフの兄弟/ドストエフスキーフィヨードル・ミハイロヴィチ</li>
      <li id="http://www.aozora.gr.jp/cards/000153/files/816_15786.html">一握の砂/石川啄木</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43498_16595.html">グロリア・スコット号/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/1565_8559.html">斜陽/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/43754_17659.html">注文の多い料理店/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/605_20934.html">モルグ街の殺人事件/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000158/files/1502_24633.html">破戒/島崎藤村</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/776_14941.html">草枕/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000196/files/975_15935.html">方丈記/鴨長明</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/47148_32217.html">『吾輩は猫である』上篇自序/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/794_14946.html">三四郎/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/19_14618.html">或阿呆の一生/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001121/files/46187_23055.html">奇巌城/ルブランモーリス</li>
      <li id="http://www.aozora.gr.jp/cards/001235/files/49866_41897.html">変身/カフカフランツ</li>
      <li id="http://www.aozora.gr.jp/cards/000074/files/424_19826.html">檸檬/梶井基次郎</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/761_14485.html">虞美人草/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000125/files/1317_23268.html">黒死館殺人事件/小栗虫太郎</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43522_16919.html">空家の冒険/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/2253_14908.html">ヴィヨンの妻/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/001168/files/46669_25695.html">智恵子抄/高村光太郎</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/42620_21407.html">堕落論/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/42_15228.html">鼻/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000912/files/4673_9768.html">ガリバー旅行記/スウィフトジョナサン</li>
      <li id="http://www.aozora.gr.jp/cards/001124/files/42934_16419.html">阿Ｑ正伝/魯迅</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/2078_15963.html">舞姫/森鴎外</li>
      <li id="http://www.aozora.gr.jp/cards/000119/files/624_14544.html">山月記/中島敦</li>
      <li id="http://www.aozora.gr.jp/cards/000961/files/4618_13199.html">神曲/ダンテアリギエリ</li>
      <li id="http://www.aozora.gr.jp/cards/000096/files/935_23282.html">少女地獄/夢野久作</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/128_15261.html">羅生門/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001121/files/42809_15955.html">探偵小説アルセーヌ・ルパン/ルブランモーリス</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/799_14972.html">夢十夜/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000064/files/389_15297.html">たけくらべ/樋口一葉</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/45340_18750.html">暗号舞踏人の謎/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000091/files/522_19603.html">金色夜叉/尾崎紅葉</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43056_16920.html">臨時急行列車の紛失/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000361/files/42941_15672.html">イワンの馬鹿/トルストイレオ</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/3766_27293.html">「仮面」の人々/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/55_14824.html">芋粥/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/462_15405.html">風の又三郎/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/69_14933.html">河童/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/470_15407.html">セロ弾きのゴーシュ/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000155/files/832_16016.html">土佐日記/紀貫之</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/530_20932.html">黒猫/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/882_20930.html">アッシャー家の崩壊/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43497_16596.html">株式仲買店々員/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43028_15653.html">黄色な顔/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/3804_27277.html">悪魔/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43471_16648.html">世界怪談名作集/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000006/files/1869_33656.html">浮雲/二葉亭四迷</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/14_14602.html">あばばばば/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/60_15129.html">地獄変/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/43015_17432.html">杜子春/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43524_16594.html">入院患者/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/1566_8578.html">パンドラの匣/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000230/files/1154_23278.html">最終戦争論・戦争史大観/石原莞爾</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43523_17368.html">自転車嬢の危難/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5017_9759.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42308_17916.html">白雪姫/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000025/files/201_20052.html">或る女/有島武郎</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/43014_17430.html">アグニの神/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/42929_15759.html">白銀の失踪/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5018_9760.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42309_18060.html">ラプンツェル/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000119/files/1737_14534.html">李陵/中島敦</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42311_15546.html">赤ずきんちゃん/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49986_37674.html">だしの取り方/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000083/files/1367_36746.html">真田幸村/菊池寛</li>
      <li id="http://www.aozora.gr.jp/cards/001518/files/51732_44768.html">古事記/太安万侶</li>
      <li id="http://www.aozora.gr.jp/cards/001094/files/42600_25758.html">レ・ミゼラブル/ユゴーヴィクトル</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/782_14969.html">明暗/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/43016_16836.html">トロッコ/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000042/files/43074_23773.html">アインシュタイン/寺田寅彦</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/42618_21410.html">桜の森の満開の下/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000258/files/42927_15424.html">耳無芳一の話/小泉八雲</li>
      <li id="http://www.aozora.gr.jp/cards/001296/files/47296_34905.html">ランボオ詩集/ランボージャン・ニコラ・アルチュール</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/2525_15827.html">黄金虫/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000158/files/1504_14585.html">夜明け前/島崎藤村</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/179_15255.html">藪の中/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001128/files/43037_15804.html">あたらしい憲法のはなし/文部省</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5019_9762.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000019/files/42387_20568.html">雪の女王/アンデルセンハンス・クリスチャン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/236_19996.html">ア、秋/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000026/files/894_28272.html">山羊の歌/中原中也</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/45245_22007.html">高瀬舟/森鴎外</li>
    </ul>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-2530516645891329";
/* tabzora_mid_1 */
google_ad_slot = "7520880115";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
    
    <ul class="booklist">
      <li id="http://www.aozora.gr.jp/cards/000019/files/42378_18502.html">赤いくつ/アンデルセンハンス・クリスチャン</li>
      <li id="http://www.aozora.gr.jp/cards/001234/files/46340_24939.html">ファラデーの伝/愛知敬一</li>
      <li id="http://www.aozora.gr.jp/cards/000264/files/42773_39853.html">ロミオとヂュリエット/シェークスピアウィリアム</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/689_23257.html">山椒大夫/森鴎外</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/4872_21839.html">愛読書の印象/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/258_20179.html">グッド・バイ/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000214/files/1669_8259.html">蒲団/田山花袋</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/3814_27290.html">かちかち山/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/275_13903.html">女生徒/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/001093/files/46822_29427.html">ジャン・クリストフ/ロランロマン</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/42621_21290.html">白痴/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/473_42318.html">よだかの星/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000888/files/33205_26197.html">ジーキル博士とハイド氏の怪事件/スティーブンソンロバート・ルイス</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5020_11254.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/1058_15403.html">『春と修羅』/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000025/files/204_19524.html">カインの末裔/有島武郎</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/16_14570.html">秋/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001235/files/49862_45839.html">城/カフカフランツ</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/268_15083.html">火の鳥/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/001155/files/43598_38389.html">桜の園/チェーホフアントン</li>
      <li id="http://www.aozora.gr.jp/cards/000258/files/42926_15331.html">葬られたる秘密/小泉八雲</li>
      <li id="http://www.aozora.gr.jp/cards/000258/files/50327_35773.html">ろくろ首/小泉八雲</li>
      <li id="http://www.aozora.gr.jp/cards/001094/files/42606_25757.html">レ・ミゼラブル/ユゴーヴィクトル</li>
      <li id="http://www.aozora.gr.jp/cards/000067/files/859_21656.html">月に吠える/萩原朔太郎</li>
      <li id="http://www.aozora.gr.jp/cards/000885/files/2557_15784.html">晶子詩篇全集/与謝野晶子</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/169_15145.html">トロツコ/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/775_14942.html">行人/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000354/files/2405_21758.html">旗本移転後の始末/勝海舟</li>
      <li id="http://www.aozora.gr.jp/cards/000121/files/628_14895.html">ごん狐/新美南吉</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/1927_17906.html">注文の多い料理店/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/2671_6498.html">『吾輩は猫である』中篇自序/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/43138_23708.html">織田信長/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/1924_14254.html">グスコーブドリの伝記/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/308_14910.html">桜桃/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/001235/files/49863_41911.html">審判/カフカフランツ</li>
      <li id="http://www.aozora.gr.jp/cards/000096/files/2381_13352.html">瓶詰地獄/夢野久作</li>
      <li id="http://www.aozora.gr.jp/cards/000096/files/2231_22251.html">キチガイ地獄/夢野久作</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/785_14971.html">門/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/001028/files/4797_31829.html">人形の家/イプセンヘンリック</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/695_22806.html">ヰタ・セクスアリス/森鴎外</li>
      <li id="http://www.aozora.gr.jp/cards/000020/files/2569_28291.html">ああ華族様だよ　と私は嘘を吐くのであった/渡辺温</li>
      <li id="http://www.aozora.gr.jp/cards/000140/files/50131_42408.html">アーサー王物語/テニソンアルフレッド</li>
      <li id="http://www.aozora.gr.jp/cards/001395/files/49891_41902.html">古寺巡礼/和辻哲郎</li>
      <li id="http://www.aozora.gr.jp/cards/001090/files/42307_24580.html">若草物語/オルコットルイーザ・メイ</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/1572_19910.html">I can speak/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/307_14909.html">お伽草紙/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5021_11107.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/2672_6499.html">『吾輩は猫である』下篇自序/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000026/files/219_33152.html">在りし日の歌/中原中也</li>
      <li id="http://www.aozora.gr.jp/cards/000914/files/4328_8144.html">クリスマス・カロル/ディケンズチャールズ</li>
      <li id="http://www.aozora.gr.jp/cards/000258/files/50326_35772.html">雪女/小泉八雲</li>
      <li id="http://www.aozora.gr.jp/cards/000238/files/1276_31472.html">茶の本/岡倉天心</li>
      <li id="http://www.aozora.gr.jp/cards/001124/files/42936_16990.html">狂人日記/魯迅</li>
      <li id="http://www.aozora.gr.jp/cards/000903/files/43837_23037.html">ある自殺者の手記/モーパッサンギ・ド</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/42338_15651.html">盗まれた手紙/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/140_15196.html">猿蟹合戦/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/15_14583.html">アグニの神/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/178_14584.html">芥川竜之介歌集/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/50014_37765.html">アメリカの牛豚/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5022_11633.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5024_11085.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49989_37783.html">握り寿司の名人/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/001529/files/44909_29558.html">アイヌ神謡集/作者不詳</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/765_14961.html">彼岸過迄/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000074/files/411_19633.html">愛撫/梶井基次郎</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/2526_17682.html">早すぎる埋葬/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49963_37671.html">お米の話/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/43736_17656.html">『注文の多い料理店』序/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42315_15931.html">ヘンゼルとグレーテル/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/767_14955.html">人生/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000718/files/50530_38558.html">武士道の山/新渡戸稲造</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5025_11636.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001029/files/43291_21543.html">省察/デカルトルネ</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5023_10175.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001257/files/46658_44767.html">スリーピー・ホローの伝説/アーヴィングワシントン</li>
      <li id="http://www.aozora.gr.jp/cards/000093/files/43634_47041.html">人柱の話/南方熊楠</li>
      <li id="http://www.aozora.gr.jp/cards/000082/files/43577_18866.html">百物語/岡本綺堂</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/673_23255.html">阿部一族/森鴎外</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/122_15159.html">或日の大石内蔵助/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/17_14601.html">あの頃の自分の事/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000005/files/5_21310.html">あいびき/ツルゲーネフイワン</li>
      <li id="http://www.aozora.gr.jp/cards/001341/files/52016_42178.html">&#28665;東綺譚/永井荷風</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/46322_24347.html">銀河鉄道の夜/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/466_42316.html">オツベルと象/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49953_37780.html">鮎の食い方/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/772_33100.html">私の個人主義/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/798_43613.html">手紙/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000258/files/42928_15332.html">貉/小泉八雲</li>
      <li id="http://www.aozora.gr.jp/cards/001529/files/15937_35058.html">「平家物語」ぬきほ（言文一致訳）/作者不詳</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/43204_22486.html">明治開化　安吾捕物/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/783_14967.html">道草/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49959_37782.html">鰻の話/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000888/files/33206_35955.html">宝島/スティーブンソンロバート・ルイス</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/16034_33783.html">遺書/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001044/files/4880_13769.html">フランダースの犬/ド・ラ・ラメーマリー・ルイーズ</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5026_11638.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42316_15930.html">星の銀貨/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/4683_9476.html">猫の広告文/夏目漱石</li>
    </ul>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-2530516645891329";
/* tabzora_mid_2 */
google_ad_slot = "7765769266";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>    
    
    <ul class="booklist">
      <li id="http://www.aozora.gr.jp/cards/001066/files/4091_13934.html">世界怪談名作集/ビアスアンブローズ</li>
      <li id="http://www.aozora.gr.jp/cards/000058/files/647_20406.html">野菊の墓/伊藤左千夫</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/45761_39095.html">河童/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001277/files/47024_26803.html">非暴力/ガンジーマハトマ</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5027_11270.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/136_15193.html">西郷隆盛/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/682_15414.html">舞姫/森鴎外</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/50011_37666.html">料理メモ/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/270_14914.html">富嶽百景/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/98_15272.html">蜜柑/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001404/files/49966_44769.html">チベット旅行記/河口慧海</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5028_11650.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000050/files/521_20583.html">高野聖/泉鏡花</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5029_10177.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001320/files/48130_31030.html">遺教/西郷隆盛</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/464_19941.html">猫の事務所/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/001048/files/45381_18751.html">母を尋ねて三千里/アミーチスエドモンド・デ</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/50019_37773.html">フランス料理について/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/4689_9474.html">『心』広告文/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/4688_9466.html">『心』自序/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/760_14940.html">硝子戸の中/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/42894_35389.html">女体/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/2076_34316.html">病院横町の殺人犯/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000019/files/4376_19283.html">即興詩人/アンデルセンハンス・クリスチャン</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/46605_31178.html">やまなし/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000179/files/943_20712.html">幽霊塔/黒岩涙香</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5031_10221.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/240_15059.html">あさましきもの/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000226/files/1150_40143.html">宇宙の始まり/アレニウススヴァンテ</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49962_37766.html">欧米料理と日本/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5030_10219.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5071_15350.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000157/files/45397_19347.html">罪と罰（内田不知庵訳）/北村透谷</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/2256_19985.html">姥捨/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/158_15132.html">侏儒の言葉/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/3751_27283.html">永久に不愉快な二重生活/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/126_14861.html">お富の貞操/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/116_15168.html">おぎん/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000051/files/43289_16904.html">五重塔/幸田露伴</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/2059_22502.html">十三時/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/129_15155.html">或恋愛小説/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/277_33098.html">駈込み訴え/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49961_37670.html">美味い豆腐の話/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/1076_14974.html">倫敦塔/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/43752_17657.html">どんぐりと山猫/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/001245/files/46511_25607.html">一片の石/会津八一</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5033_11020.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001045/files/4881_18578.html">小公女/バーネットフランシス・ホジソン・エリザ</li>
      <li id="http://www.aozora.gr.jp/cards/001189/files/45257_18673.html">アメリカ独立宣言/ジェファーソントマス</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/22_15282.html">羅生門の後に/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42313_15548.html">かえるの王様/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/001094/files/42610_31517.html">死刑囚最後の日/ユゴーヴィクトル</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/43203_21549.html">明治開化　安吾捕物/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/56_15161.html">犬と笛/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5035_11652.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5032_10223.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001094/files/42601_25759.html">レ・ミゼラブル/ユゴーヴィクトル</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42312_15547.html">おおかみと七ひきのこどもやぎ/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/2524_20138.html">メールストロムの旋渦/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000961/files/4820_20588.html">神曲/ダンテアリギエリ</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/1086_14935.html">一夜/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/50015_37745.html">インチキ鮎/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000338/files/2289_15286.html">バルタザアル/フランスアナトール</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/114_15224.html">女体/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/42377_34745.html">歯車/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001266/files/46820_29303.html">植物一日一題/牧野富太郎</li>
      <li id="http://www.aozora.gr.jp/cards/000961/files/42184_16641.html">神曲/ダンテアリギエリ</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5034_11648.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/176_15165.html">運/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5038_10199.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/45472_36052.html">イーハトーボ農学校の春/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42314_15929.html">ブレーメンの町楽隊/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000042/files/43075_17200.html">アインシュタインの教育観/寺田寅彦</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49952_37742.html">甘鯛の姿焼き/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/59_14480.html">邪宗門/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/43368_17878.html">「菊池寛全集」の序/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/120_15173.html">女/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5036_11906.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000096/files/2382_13347.html">悪魔祈祷書/夢野久作</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/170_15144.html">杜子春/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/61_15130.html">地獄変/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/42357_34757.html">「グッド・バイ」作者の言葉/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000296/files/46734_26143.html">教育の目的/福沢諭吉</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/2523_20139.html">ウィリアム・ウィルスン/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000575/files/3585_21718.html">ああ玉杯に花うけて/佐藤紅緑</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5039_11657.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5037_11910.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/2282_15074.html">津軽/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/46597_24917.html">青森/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49980_37875.html">塩昆布の茶漬け/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/29_15178.html">カルメン/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5040_11669.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/1871_17558.html">落穴と振子/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000026/files/51312_47055.html">雲/中原中也</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5058_14558.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5043_10262.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000025/files/1111_20600.html">生まれいずる悩み/有島武郎</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5041_12171.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/2314_13564.html">イズムの功過/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/21_15157.html">浅草公園/芥川竜之介</li>
    </ul>
    
<script type="text/javascript"><!--
google_ad_client = "ca-pub-2530516645891329";
/* tabzora_foot */
google_ad_slot = "8072703328";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

    <footer>
      {tabzora} &copy; 2012 <a href="https://twitter.com/#!/mohayonao" target="twitter">mohayonao</a> / <a href="https://github.com/mohayonao/tabzora" target="GitHub">source code</a>
    </footer>
  </body>
</html>
