<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>タブ空文庫</title>
    <meta name="keywords" content="青空文庫,小説,文学,電子書籍,タブ,ブラウザ,便利">
    <meta name="description" content="タブ空文庫はタブブラウザ用の青空文庫リーダーです。ブラウザのタブにテキストがスクロール表示されるので、他のサイトを見ながらでもチラチラと作品を読むことができます。">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.socialbutton-1.8.1.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <h1>タブ空文庫</h1>
      <div id="social-button">
        <div class="hatena"></div>
        <div class="tweet"></div>
        <div class="google_plus"></div>
        <div class="facebook"></div>
      </div>
    </header>
    <input id="query" name="query" placeholder="読みたい作品のURLか作品名を入力して下さい。" />
    <section id="info"></section>
    <section id="usage">
      タブ空文庫はタブブラウザ用の青空文庫リーダーです。<br/>ブラウザのタブにテキストがスクロール表示されるので、他のサイトを見ながらでもチラチラと作品を読むことができます。
    </section>

    <ul id="booklist">
      <li id="http://www.aozora.gr.jp/cards/000148/files/752_14964.html">坊っちゃん/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/301_14912.html">人間失格/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/773_14560.html">こころ/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/789_14547.html">吾輩は猫である/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000096/files/2093_28841.html">ドグラ・マグラ/夢野久作</li>
      <li id="http://www.aozora.gr.jp/cards/000156/files/1465_16805.html">蟹工船/小林多喜二</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/456_15050.html">銀河鉄道の夜/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5016_9758.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/92_14545.html">蜘蛛の糸/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000296/files/47061_29420.html">学問のすすめ/福沢諭吉</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/45630_23908.html">〔雨ニモマケズ〕/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/127_15260.html">羅生門/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000908/files/4254_16911.html">船中八策/坂本竜馬</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/43737_19215.html">銀河鉄道の夜/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/1567_14913.html">走れメロス/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/1746_18325.html">それから/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000363/files/42286_37300.html">カラマゾフの兄弟/ドストエフスキーフィヨードル・ミハイロヴィチ</li>
      <li id="http://www.aozora.gr.jp/cards/000153/files/816_15786.html">一握の砂/石川啄木</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43498_16595.html">グロリア・スコット号/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/1565_8559.html">斜陽/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/43754_17659.html">注文の多い料理店/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/605_20934.html">モルグ街の殺人事件/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000158/files/1502_24633.html">破戒/島崎藤村</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/776_14941.html">草枕/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000196/files/975_15935.html">方丈記/鴨長明</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/47148_32217.html">『吾輩は猫である』上篇自序/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/794_14946.html">三四郎/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/19_14618.html">或阿呆の一生/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001121/files/46187_23055.html">奇巌城/ルブランモーリス</li>
      <li id="http://www.aozora.gr.jp/cards/001235/files/49866_41897.html">変身/カフカフランツ</li>
      <li id="http://www.aozora.gr.jp/cards/000074/files/424_19826.html">檸檬/梶井基次郎</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/761_14485.html">虞美人草/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000125/files/1317_23268.html">黒死館殺人事件/小栗虫太郎</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43522_16919.html">空家の冒険/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/2253_14908.html">ヴィヨンの妻/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/001168/files/46669_25695.html">智恵子抄/高村光太郎</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/42620_21407.html">堕落論/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/42_15228.html">鼻/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000912/files/4673_9768.html">ガリバー旅行記/スウィフトジョナサン</li>
      <li id="http://www.aozora.gr.jp/cards/001124/files/42934_16419.html">阿Ｑ正伝/魯迅</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/2078_15963.html">舞姫/森鴎外</li>
      <li id="http://www.aozora.gr.jp/cards/000119/files/624_14544.html">山月記/中島敦</li>
      <li id="http://www.aozora.gr.jp/cards/000961/files/4618_13199.html">神曲/ダンテアリギエリ</li>
      <li id="http://www.aozora.gr.jp/cards/000096/files/935_23282.html">少女地獄/夢野久作</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/128_15261.html">羅生門/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001121/files/42809_15955.html">探偵小説アルセーヌ・ルパン/ルブランモーリス</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/799_14972.html">夢十夜/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000064/files/389_15297.html">たけくらべ/樋口一葉</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/45340_18750.html">暗号舞踏人の謎/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000091/files/522_19603.html">金色夜叉/尾崎紅葉</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43056_16920.html">臨時急行列車の紛失/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000361/files/42941_15672.html">イワンの馬鹿/トルストイレオ</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/3766_27293.html">「仮面」の人々/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/55_14824.html">芋粥/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/462_15405.html">風の又三郎/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/69_14933.html">河童/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000081/files/470_15407.html">セロ弾きのゴーシュ/宮沢賢治</li>
      <li id="http://www.aozora.gr.jp/cards/000155/files/832_16016.html">土佐日記/紀貫之</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/530_20932.html">黒猫/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/882_20930.html">アッシャー家の崩壊/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43497_16596.html">株式仲買店々員/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43028_15653.html">黄色な顔/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/3804_27277.html">悪魔/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43471_16648.html">世界怪談名作集/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000006/files/1869_33656.html">浮雲/二葉亭四迷</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/14_14602.html">あばばばば/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/60_15129.html">地獄変/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/43015_17432.html">杜子春/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43524_16594.html">入院患者/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/1566_8578.html">パンドラの匣/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000230/files/1154_23278.html">最終戦争論・戦争史大観/石原莞爾</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/43523_17368.html">自転車嬢の危難/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5017_9759.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42308_17916.html">白雪姫/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000025/files/201_20052.html">或る女/有島武郎</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/43014_17430.html">アグニの神/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000009/files/42929_15759.html">白銀の失踪/ドイルアーサー・コナン</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5018_9760.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42309_18060.html">ラプンツェル/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/000119/files/1737_14534.html">李陵/中島敦</li>
      <li id="http://www.aozora.gr.jp/cards/001091/files/42311_15546.html">赤ずきんちゃん/グリムヤーコプ・ルードヴィッヒ・カール</li>
      <li id="http://www.aozora.gr.jp/cards/001403/files/49986_37674.html">だしの取り方/北大路魯山人</li>
      <li id="http://www.aozora.gr.jp/cards/000083/files/1367_36746.html">真田幸村/菊池寛</li>
      <li id="http://www.aozora.gr.jp/cards/001518/files/51732_44768.html">古事記/太安万侶</li>
      <li id="http://www.aozora.gr.jp/cards/001094/files/42600_25758.html">レ・ミゼラブル/ユゴーヴィクトル</li>
      <li id="http://www.aozora.gr.jp/cards/000148/files/782_14969.html">明暗/夏目漱石</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/43016_16836.html">トロッコ/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/000042/files/43074_23773.html">アインシュタイン/寺田寅彦</li>
      <li id="http://www.aozora.gr.jp/cards/001095/files/42618_21410.html">桜の森の満開の下/坂口安吾</li>
      <li id="http://www.aozora.gr.jp/cards/000258/files/42927_15424.html">耳無芳一の話/小泉八雲</li>
      <li id="http://www.aozora.gr.jp/cards/001296/files/47296_34905.html">ランボオ詩集/ランボージャン・ニコラ・アルチュール</li>
      <li id="http://www.aozora.gr.jp/cards/000094/files/2525_15827.html">黄金虫/ポーエドガー・アラン</li>
      <li id="http://www.aozora.gr.jp/cards/000158/files/1504_14585.html">夜明け前/島崎藤村</li>
      <li id="http://www.aozora.gr.jp/cards/000879/files/179_15255.html">藪の中/芥川竜之介</li>
      <li id="http://www.aozora.gr.jp/cards/001128/files/43037_15804.html">あたらしい憲法のはなし/文部省</li>
      <li id="http://www.aozora.gr.jp/cards/000052/files/5019_9762.html">源氏物語/紫式部</li>
      <li id="http://www.aozora.gr.jp/cards/000019/files/42387_20568.html">雪の女王/アンデルセンハンス・クリスチャン</li>
      <li id="http://www.aozora.gr.jp/cards/000035/files/236_19996.html">ア、秋/太宰治</li>
      <li id="http://www.aozora.gr.jp/cards/000026/files/894_28272.html">山羊の歌/中原中也</li>
      <li id="http://www.aozora.gr.jp/cards/000129/files/45245_22007.html">高瀬舟/森鴎外</li>
    </ul>
    <footer>
      {tabzora-bunko} &copy; 2012 <a href="https://twitter.com/#!/mohayonao" target="twitter">mohayonao</a> / <a href="https://github.com/mohayonao/tabzora" target="GitHub">source code</a>
    </footer>
  </body>
</html>
