body {
    margin: 10px; padding: 0px;
}

header {
    background: red;
}

header h1 {
    float: left;
    margin: 0px;
    font-size: 64px;
    font-family: serif;
    text-shadow: 3px 3px 10px gray;
}

a {
    color: blue;
}

a:hover {
    color: deeppink;
}

#query {
    margin: 25px 0px 0px 0px; padding: 15px;
    width: 100%;
    font-size: 24px;
    background: #dcdcdc;
    border-style: none;
    box-sizing: border-box;    
}

#info {
    margin: 10px;
    height: 30px;
}

#usage {
    margin: 25px;
}

.booklist {
    margin: 0px; padding: 5px;
    line-height: 32px;
}
    
.booklist li {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    display: inline;
    padding: 0px 5px;
}

.booklist li:hover {
    color: deeppink;
}

.right {
    float: right;
}

.random {
    padding: 10px;
 }

footer {
    margin-top: 15px; padding: 5px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: gray;
    text-align: center;
    font-size: 0.8em;
}

#social-button {
    float: right;
    margin-top: 50px;
}

#social-button div {
    display: inline;
}

#social-button .facebook {
    position: relative;
    top: 5px;
    left: 10px;
}
